
@media only screen and (min-width: 768px) {
  .box-container {
    padding-left: 5rem;
    padding-right: 5rem;
  }

  .header__info h5 {
    display: block;
  }

  .landing-section__bg {
    background-position: left;
    height: 500px;
  }

  .pink-buds-img {
    width: 12vw;
    height: 12vw;
    top: 50px;
    left: 35vw;
  }

  .landing-section__info-box {
    position: absolute;
    right: 10vw;
    top: 10%;
    width: 35vw;
    padding: 2.5rem;
  }

  .landing-section__info-box h1 {
    font-size: 2vw;
  }

  .btn {
    padding: 17px 50px;
  }

  .achievement__img {
    height: 4vw;
  }
  .achievements__reviews img {
    height: 1.5vw;
  }

  .statistics-flex-box {
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
  }

  .statistics-flex-item {
    width: 30%;
    flex-direction: column;
  }

  .statistics-percentages {
    font-size: 2.5rem;
    font-weight: bold;
  }

  .statistics-text {
    font-weight: bold;
  }
  .info-section {
    flex-direction: row;
  }

  .info-img {
    width: 50%;
    height: 600px;
  }

  .info-text {
    width: 50%;
    padding: 40px;
    font-size: 1.4vw;
  }

  .btn-section {
    margin: 50px 0;
    display: grid;
    place-items: center;
  }

  .btn-section button {
    width: fit-content;
  }

  .info-section--reverse {
    flex-direction: row;
  }

  .about-section {
    flex-direction: row;
    gap: 0;
  }

  .about-list {
    width: 50%;
  }

  .about-list__text {
    padding-right: 20px;
    font-weight: bold;
  }

  .about-trust {
    width: 50%;
    text-align: center;
  }

  .trust-symbols {
    justify-content: space-evenly;
  }

  .trust-symbol-img {
    width: 90px;
    height: 90px;
  }

  .btn--about {
    width: fit-content;
  }

  .quote-section {
    background-position: center;
    height: 400px;
    padding-top: 40px;
  }

  .quote-img {
    width: 60px;
  }

  .quote-text {
    font-size: 1.5rem;
  }

  .footer {
    font-weight: bold;
    padding: 20px;
  }

  .copyrights {
    display: block;
  }
}

@media all and (min-width: 1023px) {
  .box-container {
    padding-left: 10rem;
    padding-right: 10rem;
  }
}

@media all and (min-width: 1660px) {
  .box-container {
    max-width: 1500px;
    margin-left: auto;
    margin-right: auto;
  }

  .landing-section__bg {
    height: 700px;
  }

  .info-text {
    width: 50%;
    padding: 40px;
    font-size: 1.3rem;
  }
}
