:root {
  --green: #59b02f;
  --green-hover: #49a724;
  --border-color: #dededd;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

ul {
  list-style: none;
}



.box-container {
  padding-left: 10px;
  padding-right: 10px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--green);
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-bottom: 2px solid var(--border-color);
}

.header__info h5 {
  display: none;
}

.landing-section {
  position: relative;
}

.landing-section__bg {
  background-image: url('./images/landing-bg-image.jpg');
  background-repeat: no-repeat;
  background-position: left;
  background-size: cover;
  height: 50vw;
  position: relative;
}

.pink-buds-img {
  width: 20vw;
  height: 20vw;
  position: absolute;
  top: 20px;
  left: 70vw;
}

.landing-section__info-box {
  background: #f9f9f9;
  border: 2px solid var(--border-color);
  padding: 2.5rem 10px;
}

.landing-section__info-box h1 {
  font-size: 2rem;
  text-transform: uppercase;
  text-align: center;
  line-height: 1.6;
  margin-bottom: 1rem;
}

.btn {
  background-color: var(--green);
  border: none;
  color: white;
  padding: 17px 10px;
  border-radius: 5px;
  font-size: 1.2rem;
  cursor: pointer;
}

.btn:hover {
  background-color: var(--green-hover);
}

.btn--full-width {
  width: 100%;
}

.info-box__achievements {
  margin-top: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.achievement__img {
  height: 40px;
}

.achievements__reviews {
  display: flex;
  flex-direction: column;
  font-weight: bold;
  gap: 0.5rem;
}

.statistics-section {
  margin: 3rem 0;
}

.statistics-flex-box {
  margin-top: 2rem;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 2rem;
}

.statistics-flex-item {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.statistics-percentages {
  color: var(--green);
  font-size: 2rem;
  font-weight: bold;
}

.info-section {
  display: flex;
  flex-direction: column;
}

.info-img {
  width: 100%;
  height: 300px;
  background-size: cover;
  background-repeat: no-repeat;
}

.bikers-img {
  background-position: top;
  background-image: url('./images/bikers.png');
}

.info-text {
  padding: 40px 10px;
  background-color: #f6f6f6;
  line-height: 1.6;
}

.btn-section {
  margin: 20px 0;
}

.btn-section button {
  width: 100%;
}

.office-img {
  background-image: url('./images/office.png');
  background-position: bottom;
}

.info-section--reverse {
  flex-direction: column-reverse;
}

.about-section {
  margin-top: 40px;
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.about-list-item {
  display: flex;
  align-items: center;
  gap: 16px;
}

.about-list__text {
  font-size: 1.2rem;
}

.tick-img {
  height: 35px;
  width: 35px;
}

.about-list-item:not(:last-child) {
  margin-bottom: 30px;
}

.trust-symbols {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}

.trust-symbol-img {
  width: 70px;
  height: 70px;
}

.btn--about {
  width: 100%;
}

.quote-section {
  background-image: url('./images/gottschalk.png');
  background-position: right 20% center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 300px;
  padding-top: 20px;
}

.quote-flex-box {
  display: flex;
  gap: 16px;
}

.quote-img {
  width: 40px;
  height: fit-content;
}

.quote-text {
  color: white;
  font-weight: bold;
  font-size: 1rem;
  line-height: 1.6;
}

.quote-author {
  color: white;
}

.footer {
  background-color: #414141;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  font-weight: normal;
  padding: 10px;
}

.copyrights {
  display: none;
}
